* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  font-size: 100%;
}
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
.section-id {
  position: absolute;
  bottom: 10.5rem;
  opacity: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  background: #ffffff;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0 2px 1px 0 rgba(51, 51, 51, 0.05);
}
@media (max-width: 500px) {
  .navbar {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.navbar .menu-icon {
  position: absolute;
  display: none;
}
@media (max-width: 500px) {
  .navbar .menu-icon {
    display: block;
    font-size: 2rem;
    right: 1rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.navbar .logo {
  flex: 1;
  text-align: left;
  height: inherit;
  padding: 1.5rem 3rem;
}
@media (max-width: 500px) {
  .navbar .logo {
    padding: 1.5rem;
  }
}
.navbar .logo h1 {
  font-family: "Poppins", sans-serif;
}
.navbar .nav-menu {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar .nav-menu.open {
  max-height: 400px;
  transition: all 0.35s ease-in-out;
}
@media (max-width: 500px) {
  .navbar .nav-menu {
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.35s ease-in-out;
  }
}
.navbar .nav-menu li {
  flex: 1;
  height: 100%;
}
@media (max-width: 500px) {
  .navbar .nav-menu li {
    width: 100%;
  }
}
.navbar .nav-menu li:hover,
.navbar .nav-menu li.active {
  border-bottom: 0.35rem solid #2caadc;
  background: #ffffff;
}
@media (max-width: 500px) {
  .navbar .nav-menu li:first-child {
    border-top: 1px solid #d7e9f8;
  }
}
.navbar .nav-menu li a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  display: block;
  padding: 2.5rem 2rem;
  white-space: nowrap;
}
@media (max-width: 500px) {
  .navbar .nav-menu li a {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #d7e9f8;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
header {
  min-height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: url("../../images/header-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
header .welcome {
  width: 54%;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
header .welcome h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
header .welcome p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
header .welcome .btn-group {
  display: flex;
}
header .welcome .btn-group > .btn {
  padding: 1rem 3.5rem;
  font-size: 1.1rem;
  line-height: 1.7;
  border-radius: 2rem;
  margin-right: 1rem;
  transition: background 0.3s ease-in-out;
}
header .welcome .btn-group .explore {
  background: #2caadc;
  color: #ffffff;
}
header .welcome .btn-group .explore:hover {
  transition: all 0.3s ease-in-out;
  background: #1e8bb7;
}
header .welcome .btn-group .login {
  border: 2px solid #2caadc;
  color: #2caadc;
}
header .welcome .btn-group .login:hover {
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  background: #2caadc;
}
.features {
  min-height: 800px;
}
.features .section-header {
  text-align: center;
  padding-top: 4rem;
}
.features .section-header h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.features .section-header p {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.features .features-wrapper {
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .features .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.features .features-wrapper .feature {
  flex: 1;
  margin: 5px 10px 5px;
  padding: 1rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 1px 0 rgba(51, 51, 51, 0.05);
  font-family: "Montserrat", sans-serif;
  min-height: 360px;
}
@media (max-width: 500px) {
  .features .features-wrapper .feature {
    width: 100%;
  }
}
.features .features-wrapper .feature h2 {
  text-align: center;
  color: #787878;
  font-family: "Poppins", sans-serif;
}
.features .features-wrapper .feature .img {
  text-align: center;
}
.features .features-wrapper .feature .img img {
  width: 8rem;
  height: 12rem;
}
body {
  background: #edf5fc;
}
