* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  font-size: 100%;
}
body,
ul {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
.section-id {
  position: absolute;
  bottom: 9rem;
  opacity: 0;
}
.section-header {
  text-align: center;
  padding-top: 4rem;
}
.section-header h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.section-header p {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  background: #ffffff;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0 2px 1px 0 rgba(51, 51, 51, 0.05);
  z-index: 10;
}
@media (max-width: 500px) {
  .navbar {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.navbar .menu-icon {
  position: absolute;
  display: none;
}
@media (max-width: 500px) {
  .navbar .menu-icon {
    display: block;
    font-size: 2rem;
    right: 1rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.navbar .logo {
  flex: 1;
  text-align: left;
  height: inherit;
  padding: 1.5rem 3rem;
}
@media (max-width: 500px) {
  .navbar .logo {
    padding: 1.5rem;
  }
}
.navbar .logo h1 {
  font-family: "Poppins", sans-serif;
}
.navbar .nav-menu {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar .nav-menu.open {
  max-height: 400px;
  transition: all 0.35s ease-in-out;
}
@media (max-width: 500px) {
  .navbar .nav-menu {
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.35s ease-in-out;
  }
}
.navbar .nav-menu li {
  flex: 1;
  height: 100%;
}
@media (max-width: 500px) {
  .navbar .nav-menu li {
    width: 100%;
  }
}
.navbar .nav-menu li:hover,
.navbar .nav-menu li.active {
  border-bottom: 0.35rem solid #2caadc;
  background: #ffffff;
}
@media (max-width: 500px) {
  .navbar .nav-menu li:first-child {
    border-top: 1px solid #d7e9f8;
  }
}
.navbar .nav-menu li a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  display: block;
  padding: 2.5rem 2rem;
  white-space: nowrap;
}
@media (max-width: 500px) {
  .navbar .nav-menu li a {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #d7e9f8;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
header {
  min-height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: url("../../images/header-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 500px) {
  header {
    background-size: cover;
  }
}
header .welcome {
  width: 54%;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 500px) {
  header .welcome {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
  }
}
header .welcome h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
@media (max-width: 500px) {
  header .welcome h1 {
    font-size: 1.8rem;
  }
}
header .welcome p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 500px) {
  header .welcome p {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
header .welcome .btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  header .welcome .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
header .welcome .btn-group > .btn {
  padding: 1rem 3.5rem;
  font-size: 1.1rem;
  line-height: 1.7;
  border-radius: 2rem;
  margin-right: 1rem;
  transition: background 0.3s ease-in-out;
}
@media (max-width: 500px) {
  header .welcome .btn-group > .btn {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    padding: 0.575rem 1.1rem;
    font-size: 1.1rem;
    line-height: 1.7;
    border-radius: 2rem;
    margin-right: 1rem;
  }
}
header .welcome .btn-group .explore {
  background: #2caadc;
  color: #ffffff;
}
header .welcome .btn-group .explore:hover {
  transition: all 0.3s ease-in-out;
  background: #1e8bb7;
}
header .welcome .btn-group .login {
  border: 2px solid #2caadc;
  color: #2caadc;
}
header .welcome .btn-group .login:hover {
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  background: #2caadc;
}
.features {
  min-height: 700px;
  padding-bottom: 1rem;
  position: relative;
}
.features .features-wrapper {
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .features .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.features .features-wrapper .feature {
  padding: 1rem;
  width: calc(25% - 20px);
  margin: 5px 10px 5px;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 1px 0 rgba(51, 51, 51, 0.05);
  font-family: "Montserrat", sans-serif;
  min-height: 360px;
}
@media (max-width: 500px) {
  .features .features-wrapper .feature {
    width: 100%;
  }
}
.features .features-wrapper .feature h2 {
  text-align: center;
  color: #787878;
  font-family: "Poppins", sans-serif;
}
.features .features-wrapper .feature .img {
  text-align: center;
}
.features .features-wrapper .feature .img img {
  width: 8rem;
  height: 12rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #302f2f;
  color: #919191;
}
.footer .top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #edf5fc;
  padding: 1rem 0rem 1rem 0rem;
  color: #919191;
}
.footer .top-section .social-links {
  width: 50%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .footer .top-section .social-links {
    width: 100%;
  }
}
.footer .top-section .social-links .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 0rem 0.3rem;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  text-align: center;
  color: #919191;
  border: 1px solid #919191;
  transition: all 0.35s ease-in-out;
}
.footer .top-section .social-links .link:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all 0.35s ease-in-out;
}
.footer .bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  background: #232222;
}
.samples .samples-wrapper {
  width: 90%;
  margin: 3rem auto 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .samples .samples-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.samples .samples-wrapper .sample {
  flex: 1;
  max-width: 30%;
  position: relative;
  margin: 0.4rem auto 0.4rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 500px) {
  .samples .samples-wrapper .sample {
    max-width: 100%;
  }
}
.samples .samples-wrapper .sample p {
  font-size: 2rem;
}
.samples .samples-wrapper .sample p:hover {
  cursor: default;
}
.samples .samples-wrapper .sample > .front,
.samples .samples-wrapper .sample > .back {
  color: white;
  height: 320px;
  padding: 1em 2em;
  background: #2caadc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.samples .samples-wrapper .sample .front,
.samples .samples-wrapper .sample .back {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1s;
  transition-property: transform, opacity;
}
.samples .samples-wrapper .sample .front {
  transform: rotateY(0deg);
}
.samples .samples-wrapper .sample .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
  background: #302f2f;
}
.samples .samples-wrapper .sample:hover .front {
  transform: rotateY(180deg);
}
.samples .samples-wrapper .sample:hover .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.samples .samples-wrapper .sample.sample-vertical > .back {
  transform: rotateX(-180deg);
}
.samples .samples-wrapper .sample.sample-vertical:hover > .front {
  transform: rotateX(180deg);
}
.samples .samples-wrapper .sample.sample-vertical:hover > .back {
  transform: rotateX(0deg);
}
.samples .view-more-jokes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.samples .view-more-jokes a {
  border: 1px solid #919191;
  font-family: "Montserrat", sans-serif;
  color: #919191;
}
.samples .view-more-jokes a:hover {
  border: 1px solid #111111;
  font-family: "Montserrat", sans-serif;
  color: #111111;
}
body {
  background: #edf5fc;
}
