.navbar {
  background: @white;
  height: 90px;
  overflow: hidden;
  .flex(row, center, space-around);

  .logo {
    flex: 2;
    text-align: center;
    border: 1px solid red;
  }

  .nav-menu {
    flex: 3;
    .flex(row, center, center);
    height: 100%;
    li {
      flex: 1;
      height: 100%;

      &:hover,
      &.active {
        border-bottom: 5px solid @primaryBlue;
      }

      a {
        font-family: @primaryFont;
        display: block;
        padding: 34px;
        white-space: nowrap;
      }
    }
  }
}
