@import url("https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap");

// colors
@primaryBlue: #2caadc;
@lightBlue: #edf5fc;
@white: #ffffff;

// Fonts
@primaryFont: "Montserrat", sans-serif;
@titlesFont: "Poppins", sans-serif;

// Breaking points
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
