.features {
  min-height: 800px;
  border: 1px solid red;

  .section-header {
    text-align: center;
    padding-top: 4rem;

    h2 {
      font-size: 3rem;
      font-family: @titlesFont;
    }

    p {
      color: #919191;
      font-family: @primaryFont;
      font-size: 1.3rem;
    }
  }
}
